/* font */
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gowun+Batang');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Sharp');

@font-face {
    font-family: 'RIDIBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Fira Mono';
  src: url('https://cdn.jsdelivr.net/npm/@fontsource/fira-mono/files/fira-mono-latin-400-normal.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}