/* font */
@import url('https://fonts.googleapis.com/css?family=Gowun+Batang');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Sharp');

@font-face {
    font-family: 'RIDIBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}