---
layout: archive
---
{% comment %} <div class="top">
<div class="col-lg-4 col-md-2">
  <ul>
  {% for category in site.categories %}
    <li>{{ category | first }} ({{ category | last | size }})</li>
  {%  endfor %}
  </ul>
</div>
</div> {% endcomment %}

<!--google ads -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6253756472465876"
  crossorigin="anonymous"></script>
<div align="center" style="margin: 1em 0;">
<!-- ads(footer2) -->
<ins class="adsbygoogle"
  style="display:block"
  data-ad-client="ca-pub-6253756472465876"
  data-ad-slot="1405272396"
  data-ad-format="auto"
data-full-width-responsive="true"></ins>
</div>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<!--home 이미지 추가-->
<div class="page__hero--overlay" style="background-color: #5e616c; background-image: url('/assets/images/Almond_Blossom_low.jpg');">
  
  <div class="wrapper">
      <p class="page__lead">Vincent van Gogh. Almond Blossom. 1890. Oil on Canvas. 73.5 cm x 92 cm(28.9 in x 36 in)<br> <small><a href="https://www.vangoghmuseum.nl/en/collection/s0176V1962">Van Gogh Museum in Amsterdam, the Netherlands.</a></small>
      </p>
  </div>
</div>

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}

</div>

{% include paginator.html %}


